.highlights-card {
  margin: 0 auto;
  height: fit-content;
  border-radius: 12px !important;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important; */
}
.highlights-card .coins-lists {
  width: 90%;
  margin: 0.5rem auto;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-direction: column;
}
.highlights-card .coins-lists a {
  margin-bottom: 1.5rem;
  transition: all 0.3 cubic-bezier(0.215, 0.610, 0.355, 1);
}
